### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store

### IntelliJ IDEA ###
/TransicionEnergeticaJusta/.idea
/TransicionEnergeticaJusta/*.iws
/TransicionEnergeticaJusta/*.iml
/TransicionEnergeticaJusta/*.ipr
/TransicionEnergeticaJusta/.mvn
/TransicionEnergeticaJusta/target
/TransicionEnergeticaJusta/HELP.md

### NetBeans ###
/TransicionEnergeticaJusta/nbproject/private/
/TransicionEnergeticaJusta/nbbuild/
/TransicionEnergeticaJusta/dist/
/TransicionEnergeticaJusta/nbdist/
/TransicionEnergeticaJusta/.nb-gradle/
/TransicionEnergeticaJusta/build/

### VS Code ###
/TransicionEnergeticaJusta/.vscode/