### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.DS_Store

### IntelliJ IDEA ###
backend/TransicionEnergeticaJusta/.idea
backend/TransicionEnergeticaJusta/*.iws
backend/TransicionEnergeticaJusta/*.iml
backend/TransicionEnergeticaJusta/*.ipr
backend/TransicionEnergeticaJusta/.mvn
backend/TransicionEnergeticaJusta/target
backend/TransicionEnergeticaJusta/HELP.md

### NetBeans ###
backend/TransicionEnergeticaJusta/nbproject/private/
backend/TransicionEnergeticaJusta/nbbuild/
backend/TransicionEnergeticaJusta/dist/
backend/TransicionEnergeticaJusta/nbdist/
backend/TransicionEnergeticaJusta/.nb-gradle/
backend/TransicionEnergeticaJusta/build/

### VS Code ###
backend/TransicionEnergeticaJusta/.vscode/